.blink { 
    background: #0e0e0e;
    border: 1px solid #151515;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}

.blink .status-indicator { 
    background: yellow;
    box-shadow: 0 0 0 2px rgb(255, 255, 0, .15);
    display: inline-flex;
    margin-right: 10px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    animation: pending-blink 1s linear infinite;
}

.blink .status-indicator.S { 
    background: lime;
    box-shadow: 0 0 0 2px rgb(0, 255, 0, .15);
    animation: none;
}

.blink .status-indicator.F { 
    background: red;
    box-shadow: 0 0 0 2px rgb(255, 0, 0, .15);
    animation: failure-blink 1s linear infinite;
}

.blink p:first-of-type { 
    grid-column: span 2;
}

/* add animation that inherits background colro and has pulsing circles as an activity indicator */
.blink .status-indicator { 
    animation: blink 1s linear infinite;
}

@keyframes pending-blink { 
    0% { 
        background: yellow;
        box-shadow: 0 0 0 2px rgb(255, 255, 0, .15);
    }
    50% { 
        background: lime;
        box-shadow: 0 0 0 2px rgb(0, 255, 0, .15);
    }
    100% { 
        background: yellow;
        box-shadow: 0 0 0 2px rgb(255, 255, 0, .15);
    }
}

@keyframes failure-blink { 
    0% { 
        background: red;
        box-shadow: 0 0 0 2px rgb(255, 0, 0, .15);
    }
    50% { 
        background: yellow;
        box-shadow: 0 0 0 2px rgb(255, 255, 0, .15);
    }
    100% { 
        background: red;
        box-shadow: 0 0 0 2px rgb(255, 0, 0, .15);
    }
}