aiohttp==3.7.4.post0
anyio==3.6.1
APScheduler==3.9.1
argcomplete==2.0.0
asgiref==3.5.2
async-timeout==3.0.1
attrs==21.4.0
autobahn==22.7.1
Automat==22.10.0
autopep8==1.7.0
base58==2.1.1
bitarray==2.6.0
black==22.6.0
certifi==2022.9.14
cffi==1.15.1
channels==4.0.0
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
constantly==15.1.0
cryptography==38.0.3
cytoolz==0.12.0
daphne==4.0.0
discord.py==1.7.3
distlib==0.3.4
dj-database-url==0.5.0
Django==4.1.1
django-apscheduler==0.6.2
django-channels==0.7.0
django-filter==22.1
django-heroku==0.3.1
django-rest-framework==0.1.0
djangorestframework==3.13.1
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
filelock==3.6.0
gunicorn==20.1.0
h11==0.12.0
hexbytes==0.3.0
httpcore==0.15.0
httpx==0.23.0
hyperlink==21.0.0
idna==3.4
imutils==0.5.4
incremental==22.10.0
ipfshttpclient==0.8.0a2
jsonschema==4.16.0
lru-dict==1.1.8
Markdown==3.4.1
multiaddr==0.0.9
multidict==6.0.2
mypy-extensions==0.4.3
netaddr==0.8.0
numpy==1.23.2
nvidia-pyindex==1.0.9
oauthlib==3.2.2
opencv-python==4.6.0.66
packaging==21.3
parsimonious==0.8.1
pathspec==0.9.0
Pillow==9.0.1
pipx==1.1.0
platformdirs==2.5.1
protobuf==3.20.2
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.15.0
pyfakewebcam==0.1.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dotenv==0.21.0
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pyvirtualcam==0.9.1
pywin32==304
requests==2.28.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rlp==2.0.1
service-identity==21.1.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
toolz==0.11.1
Twisted==22.10.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
urllib3==1.26.12
userpath==1.8.0
varint==1.0.2
virtualenv==20.13.2
virtualenvwrapper-win==1.2.7
web3==5.30.0
websockets==9.1
whitenoise==6.2.0
yarl==1.7.2
zope.interface==5.5.2
